# This is a basic workflow to help you get started with Actions

name: "Custom Env Vars"

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  # push:
    # branches: [ "master" ]
  # pull_request:
    # branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  DAY_OF_WEEK: Funday
  testvar: value-1

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  mainjob:
    name: 'Print the env vars'
    runs-on: ubuntu-latest

    env:
      Greeting: Dear
      testvar: value-2

      steps:
      - name: print-values-of-env-vars
        run: |
          echo "$Greering $First_name. Today is $DAY_OF_WEEK!"
          echo "testvar $testvar"
          echo "testvar ${{ env.testvar }}"
        env:
          First_name: Student
          testvar: values-3
  # This workflow contains a single job called "build"
  # build:
    # The type of runner that the job will run on
    # runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    # steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      # - name: Run a one-line script
       #  run: echo Hello, world!

      # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
        # run: |
          # echo Add other actions to build,
          # echo test, and deploy your project.
